
<mat-card>
  <form [formGroup]="updateForm" (submit)="update()">

    <mat-form-field>
      <input matInput formControlName="title" placeholder="Título"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="Descripción"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="urgency" placeholder="Urgencia" type=number min=1 max=5/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="responsable" placeholder="Responsable"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="end_date" placeholder="Fecha fin" type=date/>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Editar
      </button>
      <button mat-raised-button color="warning" routerLink='/todos/{{todo.id}}' [state]="todo"> Volver </button>
    </mat-card-actions>

  </form>
</mat-card>
