
<mat-card>
  <form [formGroup]="registerForm" (submit)="register()">

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password"/>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Registrarse
      </button>

      <button mat-raised-button color="warning" [routerLink]="['/login']"> Volver a login </button>
    </mat-card-actions>

  </form>
</mat-card>
