
<mat-card>
  <form [formGroup]="registerForm" (submit)="submitRegisterForm()">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" />
    </mat-form-field>

    <mat-card-actions>
      <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">
        Registrar cuenta
      </button>

      <button mat-raised-button color="warning" [routerLink]="['/login']">
        Volver a Login
      </button>
    </mat-card-actions>
  </form>


</mat-card>
